<footer class="bg-black-primary text-center text-white d-flex align-items-center" style="min-height: 80px">
  <div class="container">
    <!-- Section: Social media -->
    <section class="footer-itens">
      
      <div class="footer-logo">
        <img class="img-fluid" src="../../../../assets/img/Greenline-logo-sm.png" alt="logo-footer" />
      </div>

      <div>
        <p class="fw-medium">
          © 2024 GreenLine Inc. Todos os direitos reservados
        </p>
      </div>

      <div>
        <!-- Instagram -->
        <a class="btn btn-floating m-1 text-white" href="https://www.instagram.com/greenlineofc/" target="_blank"
          role="button">
          <i class="fab fa-instagram fa-2x"></i>
        </a>

        <!-- Whatsapp -->
        <a class="btn btn-floating m-1 text-white" href="https://wa.me/4591231234" target="_blank" role="button">
          <i class="fab fa-whatsapp fa-2x"></i>
        </a>

        <!-- Github -->
        <a class="btn btn-floating m-1 text-white" href="https://github.com/CarlosFeliponi/GreenLine-Front"
          target="_blank" role="button">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>
    </section>
    <!-- Section: Social media -->
  </div>
</footer>