// @import url("../../../styles.scss");

// .container { ---SALER
//   padding-left: 0;
//   margin-left: 0;
// }

// th{
//     cursor: pointer; ---SALER
// }
// th:hover{
//     background-color: #c2c2c2 !important;
// }

// .log-row { ---SALER
//   display: flex;
//   align-items: flex-start;
//   gap: 30px;
// }

// .filter-col { ---SALER
//   width: 30vw;
//   background-color: var(--black-primary);
//   align-self: stretch;
//   position: relative;
//   color: var(--white);
//   padding: 20px 0 20px 20px;
//   min-height: 100dvh;
// }

.list-group>li:hover{
    background-color: var(--black-primary);
}
.accordion-button {
    color: var(--white) !important;
}
.accordion-item, .cwhite{
    color: var(--white);
}