<br />
<div class="container">
  <div class="row">
    <div class="card">
      <div class="table-col card-body">
        <h3>Log de Auditoria</h3>
        <br /><br />

        <form action="/url" method="post" class="border border-1 p-4">
          <!--ajustar action(aparenta ser a url que ser enviado os dado, verificar se é necessario), method deve ser o metodo http de envio de dados, get, etc -->

          <!-- Search --><!-- revisar -->
          <div class="d-flex justify-content-center">
            <div class="input-group rounded  justify-content-evenly">
              <fieldset>
                <label for="filterProduto">Buscar por produto</label>
                <input
                  type="search"
                  class="form-control rounded"
                  placeholder="Produto"
                  aria-label="Search"
                  aria-describedby="search-addon"
                  name="filterProduto"
                  id="filterProduto"
                  [(ngModel)]="params.logName"
                />
              </fieldset>
              <fieldset>
                <label for="filterEmail">Buscar por e-mail</label>
                <input
                  type="email"
                  class="form-control rounded"
                  placeholder="Email"
                  aria-label="Email"
                  aria-describedby="email-addon"
                  name="filterEmail"
                  id="filterEmail"
                  [(ngModel)]="params.emailUsuario"
                />
              </fieldset>
              
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-evenly mt-4">
            <!-- margin provisoria-->

            <!-- Role -->
            <div>
              <div class="form-check">
                <input
                  mdbRadio
                  class="form-check-input"
                  type="radio"
                  name="radioRoleTodos"
                  id="radioRoleTodos"
                  [checked]="true"
                  [(ngModel)]="params.roleUsuario"
                  [value]="undefined"
                />
                <label class="form-check-label" for="radioRoleTodos">
                  TODOS
                </label>
              </div>
              <div class="form-check">
                <input
                  mdbRadio
                  class="form-check-input"
                  type="radio"
                  name="radioRoleAdmin"
                  id="radioRoleAdmin"
                  [(ngModel)]="params.roleUsuario"
                  [value]="'ADMIN'"
                />
                <label class="form-check-label" for="radioRoleAdmin">
                  ADMIN
                </label>
              </div>
              <div class="form-check">
                <input
                  mdbRadio
                  class="form-check-input"
                  type="radio"
                  name="radioRoleUser"
                  id="radioRoleUser"
                  [(ngModel)]="params.roleUsuario"
                  [value]="'USER'"
                />
                <label class="form-check-label" for="radioRoleUser">
                  USUARIO
                </label>
              </div>
            </div>

            <!-- Calendario -->
            <div>
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Data</mat-label>
                <mat-date-range-input
                  [formGroup]="params.range"
                  [rangePicker]="picker"
                >
                  <input
                    matStartDate
                    formControlName="start"
                    placeholder="Data de inicio"
                  />
                  <input
                    matEndDate
                    formControlName="end"
                    placeholder="Data de termino"
                  />
                </mat-date-range-input>
                <!-- <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint> -->
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>

            <!-- Operação -->
            <div>
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Operação</mat-label>
                <mat-select [(value)]="params.acao">
                  <!-- <mat-option>Todas</mat-option> -->
                  <mat-option [value]="'SAVE'">Save</mat-option>
                  <mat-option [value]="'DELETE'">Delete</mat-option>
                  <mat-option [value]="'UPDATE'">Update</mat-option>
                  <mat-option [value]="'LOGIN'">Login</mat-option>
                  <mat-option [value]="undefined">Tudo</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Entidade -->
            <div>
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Entidade</mat-label>
                <mat-select [(value)]="params.entity">
                  <mat-option [value]="'Produto'">Produto</mat-option>
                  <mat-option [value]="'Carrinho'">Carrinho</mat-option>
                  <mat-option [value]="'Usuario'">Usuario</mat-option>
                  <mat-option [value]="'Categoria'">Categoria</mat-option>
                  <mat-option [value]="undefined">Tudo</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Ordem -->
            <div>
              <!-- <mat-form-field>
                <mat-label>Ordem</mat-label>
                <mat-select>
                  @for (orden of ordens; track orden) {
                    <mat-option [value]="orden.value">{{orden.viewValue}}</mat-option>
                  }
                </mat-select>
              </mat-form-field> -->
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Ordem</mat-label>
                <mat-select [(value)]="ordem">
                  <mat-option [value]="true">Crescente</mat-option>
                  <mat-option [value]="false">Decrescente</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <button
              mat-raised-button
              (click)="findLogsByCriterio()"
              (click)="sortLog()"
            >
              Aplicar Filtro
            </button>
          </div>
        </form>

        <br /><br /><br />

        <table border="1" class="table table-striped">
          <thead>
            <tr>
              <th>Data hora</th>
              <th>Role</th>
              <th>Email</th>
              <th>Operação</th>
              <th>Entidade</th>
              <th>Produto</th>
              <th>Detalhes</th>
            </tr>
          </thead>
          <tbody>
            @for (item of logAuditoria; track $index) {
            <tr>
              <td>{{ item.timestamp }}</td>
              <td>{{ item.roleUsuario }}</td>
              @if(item.emailUsuario){
              <td>{{ item.emailUsuario }}</td>
              } @else {
              <td>---</td>
              }
              <td>{{ item.acao }}</td>
              <td>{{ item.entity }}</td>
              @if(item.logName){
              <td>{{ item.logName }}</td>
              } @else {
              <td>---</td> }
              @if(item.detalhes){
              <td>{{ item.detalhes }}</td>
              } @else {
              <td>---</td>
              }
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
