<br />
<div class="container">
    <div class="row">
        <div>
            <div class="card">
                <div class="card-body">

                    <h3>Listagem de Vendas</h3>
                    <div class="direita">
                        
                    </div>
                    <br>
                    <table border="1" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (Carrinho of lista; track $index) {
                                <tr>
                                    <td>{{ Carrinho.idCarrinho }}</td>
                                    <td>{{ Carrinho.descricaoCarrinho }}</td>
                                    <td>{{ Carrinho.valorCarrinho }}</td>
                                    <td>{{ Carrinho.dataCarrinho }}</td>
                                    <td class="direita">
                                        <!-- <button type="button" class="btn btn-secondary btn-rounded">
                                            Editar
                                        </button> -->
                                        <button type="button" class="btn btn-danger btn-rounded" mdbRipple (click)="delete(Carrinho)">
                                            Deletar
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


