<div class="card mb-3 bg-grey text-white">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-row align-items-center w-50 justify-content-star gap-4">
        <div class="bg-image hover-overlay hover-zoom ripple rounded">
          <img src="../../../../../assets/img/IMG_Card_Carrinho_GreenLine.jpg" class="img-fluid rounded-3"
            alt="Shopping item" style="max-width: 65px;">
        </div>
        <div>
          <h4>{{itemCarrinho.produto.nomeProduto}}</h4>
          <p class="small mb-0">{{itemCarrinho.produto.descricaoProduto}}</p>
        </div>
      </div>
      <div class="d-flex flex-row align-items-center w-50 justify-content-between">
        <div class="d-flex " style="max-width: 120px">
          <button data-mdb-button-init data-mdb-ripple-init
            class="btn p-2 bg-green-primary text-black-secundary border border-color-green" name="b{{itemCarrinho.idItem}}"
            (click)="decrement()">
            <i class="fas fa-minus"></i>
          </button>

          <div data-mdb-input-init class="form-outline ms-1 me-1">
            <input id="form1" min="0" name="quantity" value="{{ itemCarrinho.quantProd }}" type="number"
              class="form-control border text-white text-center pe-none p-1" />
            <label class="form-label" for="form1"></label>
          </div>

          <button data-mdb-button-init data-mdb-ripple-init
            class="btn p-2 bg-green-primary text-black-secundary border border-color-green" name="a{{itemCarrinho.idItem}}"
            (click)="increment()">
            <i class="fas fa-plus"></i>
          </button>
        </div>
        <div>
          <h5 class="mb-0">R${{  (itemCarrinho.valorUnitario * itemCarrinho.quantProd)  }}</h5>
          <h5 style="font-size: 13px" class="mb-0">R${{  itemCarrinho.valorUnitario  }}</h5>
        </div>

        <div>
          <button type="button" data-mdb-button-init data-mdb-ripple-init
            class="btn btn-sm p-2 pe-3 ps-3 bg-green-primary text-black-secundary border border-color-green"
            data-mdb-tooltip-init title="Remove item" (click)="delete()">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>