<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 ">

            <div class="card">
                <div class="card-body" style="text-align: center;">
                    <h3>Cadastro de Fornecedor:</h3>
                    <br>
                    <mdb-form-control>
                        <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="fornecedor.nomeFornecedor">
                        <label mdbLabel class="form-label" for="Usuario">Nome</label>
                    </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="fornecedor.cnpj">
                    <label mdbLabel class="form-label" for="Usuario">CNPJ</label>
                </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="fornecedor.emailFornecedor">
                    <label mdbLabel class="form-label" for="Usuario">Email</label>
                </mdb-form-control>
                <br>
    

                    <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="save()">
                        Salvar
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>