<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 centralizar" >

            <div class="card">
                <div class="card-body">

                    <h3>Lista de Fornecedores</h3>
                    <div class="direita">

                        <button type="button" class="btn btn-primary btn-rounded" mbRipple (click)="new()">
                            Novo
                        </button>
                    </div>

                    <br>

                    <table border="1" class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>CNPJ</th>
                                <th>Email</th>
                            </tr>
                        </thead>

                        <tbody>

                            @for (fornecedor of lista; track $index) {
                            <tr>
                                <td>{{fornecedor.idFornecedor}}</td>
                                <td>{{fornecedor.nomeFornecedor}}</td>
                                <td>{{fornecedor.cnpj}}</td>
                                <td>{{fornecedor.emailFornecedor}}</td>
                               
                                <td class="direita">
                                    <button type="button" class="btn btn-primary btn-rounded" mbRipple (click)="edit(fornecedor)">
                                        Editar
                                    </button>
                                    <button type="button" class="btn btn-danger btn-rounded" mbRipple (click)="deleteById(fornecedor)">
                                        Deletar
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>
    </div>
</div>


<ng-template #modalFornecedorDetalhe>
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastro Fornecedor</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-fornecedordetails [fornecedor]="fornecedorEdit" (retorno)="retornoDetalhe($event)"></app-fornecedordetails>
  </div>
 
</ng-template>