@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --green-primary: #52FF00;
    --black-primary: #191919;
    --black-secundary: #212224;
    --grey: #292B2E;
    --white: #ffffff;
}

body {
    background-color: var(--black-secundary);
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.fw-medium {
    font-weight: 500;
}

.bg-green-primary {
    background-color: var(--green-primary);
}

.bg-black-primary {
    background-color: var(--black-primary);
}

.bg-black-secundary {
    background-color: var(--black-secundary);
}

.bg-grey {
    background-color: var(--grey);
}

.text-green-primary {
    color: var(--green-primary);
}

.text-black-secundary {
    color: var(--black-secundary);
}

.text-white {
    color: var(--white);
}

.border-color-green {
    border-color: var(--green-primary) !important;
}

.border-color-grey {
    border-color: var(--grey) !important;
}

/* Responsiveness */

@media (max-width: 1200px) {
    body {
        font-size: 18px;
    }
    .fw-medium {
        font-weight: 600;
    }
}

@media (max-width: 992px) {
    body {
        font-size: 16px;
    }
    .fw-medium {
        font-weight: 500;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .fw-medium {
        font-weight: 500;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 12px;
    }
    .fw-medium {
        font-weight: 400;
    }
}
